In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [171]:
movie = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
19,tt1951266,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,6.5,2015
622,tt0887912,15000000,42000000,The Hurt Locker,Jeremy Renner|Anthony Mackie|Brian Geraghty|Gu...,Kathryn Bigelow,You'll know when you're in it.,Forced to play a dangerous game of cat-and-mou...,131,Drama|Thriller|War,Summit Entertainment|Kingsgate Films|Grosvenor...,10/10/2008,7.2,2008
802,tt0471042,75000000,152930623,Tower Heist,Ben Stiller|Eddie Murphy|Casey Affleck|Alan Al...,Brett Ratner,Ordinary guys. An extraordinary robbery.,A luxury condo manager leads a staff of worker...,104,Action|Comedy,Universal Pictures|Image Entertainment|Relativ...,11/2/2011,5.8,2011
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002
995,tt1397280,45000000,376141306,Taken 2,Liam Neeson|Maggie Grace|Famke Janssen|Rade Se...,Olivier Megaton,First they took his daughter. Now they're comi...,"In Istanbul, retired CIA operative Bryan Mills...",91,Action|Thriller|Crime|Drama,Twentieth Century Fox Film Corporation|M6 Film...,9/27/2012,6.0,2012

In [172]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [173]:
answers = {} # создадим словарь для ответов
movie['profit']=movie['revenue']-movie['budget'] # создадим колонку, отображающую прибыль

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [174]:
movie[movie['budget'] == movie['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [175]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) '

# 2. Какой из фильмов самый длительный (в минутах)?

In [176]:
movie[movie['runtime'] == movie['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

In [177]:
answers['2'] = 'Gods and Generals (tt0279111) '

# 3. Какой из фильмов самый короткий (в минутах)?

In [178]:
movie[movie['runtime'] == movie['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

In [179]:
answers['3'] = 'Winnie the Pooh (tt1449283)  '

# 4. Какова средняя длительность фильмов?

In [180]:
round(movie['runtime'].mean())

110

In [181]:
answers['4'] = '110  '

# 5. Каково медианное значение длительности фильмов?

In [182]:
round(movie['runtime'].median())

107

In [183]:
answers['5'] = '107  '

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [184]:
movie[movie['profit']==movie['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [185]:
answers['6'] = 'Avatar (tt0499549)  '

# 7. Какой фильм самый убыточный?

In [186]:
movie[movie['profit']==movie['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [187]:
answers['7'] = 'The Lone Ranger (tt1210819)  '

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [188]:
(movie['profit']>0).value_counts()

True     1478
False     411
Name: profit, dtype: int64

In [189]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [190]:
movie_2008=movie[(movie['release_year']==2008)] #создадим датасет фильмов, год релиза 2008
movie_2008[movie_2008['profit']==movie_2008['profit'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [191]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [192]:
movie_12_13_14 = movie[(movie['release_year']==2012)|(movie['release_year']==2013)|(movie['release_year']==2014)]
movie_12_13_14[movie_12_13_14['profit']==movie_12_13_14['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [193]:
answers['10'] = 'The Lone Ranger (tt1210819)  '

# 11. Какого жанра фильмов больше всего?

In [194]:
movie_genres = movie.copy() #создадим копию датасета
movie_genres.genres = movie_genres.genres.str.split('|') 
movie_genres=movie_genres.explode('genres') #разделяем ячейку колонки с несколькими элементати  на строки
movie_genres['genres'].value_counts().index[0] #выбираем жано, который встречается чаще всех

'Drama'

In [195]:
answers['11'] = 'Drama  '

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [196]:
import collections
movie_genres_promax = collections.Counter()
new_data = movie[movie['profit'] > 0]['genres'].str.split('|', expand = False) # Колонка Жанры в датасете прибыльных фильмов
for lists in new_data: 
    for word in lists: 
        movie_genres_promax[word]+=1 #счетчик количества жанров в прибильных фильмах
movie_genres_promax.most_common(1)

[('Drama', 560)]

In [197]:
answers['12'] = 'Drama  '

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [198]:
movie_dirs = movie.copy() #создаем копию датасета, для дальнейшей работы
movie_dirs['director'] = movie_dirs['director'].str.split('|') # разбиваем ячейки колонки на строки
movie_dirs = movie_dirs.explode('director')

movie_dirs_grp = movie_dirs.groupby(['director']).revenue.sum() #группируем по именам режиссеров и суммируем сборы
movie_dirs_grp.sort_values(ascending =False).index[0] # сортируем по убыванию

'Peter Jackson'

In [199]:
answers['13'] = 'Peter Jackson  '

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [200]:
movie_Action=movie_dirs[movie_dirs.genres.str.contains('Action', na = False)].copy() 
movie_Action['director'].value_counts().index[0]

'Robert Rodriguez'

In [201]:
answers['14'] = 'Robert Rodriguez '

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [202]:
movie_2012=movie[movie['release_year']==2012].copy()
movie_2012['cast']=movie_2012['cast'].str.split('|')
movie_2012=movie_2012.explode('cast') #разбиваем на строки
movie_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0] #группируем  и считаем сборы, сортируем.

'Chris Hemsworth'

In [203]:
answers['15'] = 'Chris Hemsworth '

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [204]:
movie_budget=movie[movie['budget']>movie['budget'].mean()].copy() # датасет, в котором фильмы с бюджетом выше среднего
movie_budget['cast']=movie_budget['cast'].str.split('|')
movie_budget=movie_budget.explode('cast')
movie_budget['cast'].value_counts().index[0]

'Matt Damon'

In [205]:
answers['16'] = 'Matt Damon '

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [206]:
movie_NC=movie_genres[movie_genres['cast'].str.contains('Nicolas Cage')] #датасет,в котором актер Nicolas Cage
movie_NC['genres'].value_counts().index[0] #считаем количество по жанрам

'Action'

In [207]:
answers['17'] = 'Action '

# 18. Самый убыточный фильм от Paramount Pictures

In [208]:
movie_PP=movie[movie['production_companies'].str.contains('Paramount Pictures')] #датасет,в котором компания Paramount Pictures
movie_PP[movie_PP['profit']==movie_PP['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [209]:
answers['18'] = 'K-19: The Widowmaker (tt0267626) '

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [210]:
movie.groupby('release_year')['revenue'].sum().idxmax()

2015

In [211]:
answers['19'] = '2015 '

# 20. Какой самый прибыльный год для студии Warner Bros?

In [212]:
#Вопрос 20. Какой самый прибыльный год для студии Warner Bros?
movie_warner = movie[movie['production_companies'].str.contains('Warner Bros')]  #датасет,в котором компания Warner Bros, во всех её проявлениях
movie_warner.groupby('release_year')['profit'].sum().idxmax()

2014

In [213]:
answers['20'] = '2014 '

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [214]:
movie['release_date'] = pd.to_datetime(movie['release_date']) 
movie['release_month'] = movie['release_date'].map(lambda date: date.month) # создаем колонку месяц релиза
movie.groupby('release_month').count()['imdb_id'].idxmax() #группируем по месяцам и берем максимальный по количеству

9

In [215]:
answers['21'] = 'Сентябрь  '

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [216]:
films_per_month=movie.groupby('release_month').count()['imdb_id'] #группируем по месяцам
films_per_summer=int(films_per_month[6])+int(films_per_month[7])+int(films_per_month[8]) #выбираем нужные месяцы
display(films_per_summer)

450

In [217]:
answers['22'] = '450  '

# 23. Для какого режиссера зима – самое продуктивное время года?

In [218]:
movie_winter=movie[(movie['release_month']==12) |(movie['release_month']==1)|(movie['release_month']==2)].copy()
movie_winter['director']=movie_winter['director'].str.split('|')
movie_winter=movie_winter.explode('director')
print(movie_winter['director'].value_counts().index[0])

Peter Jackson

In [219]:
answers['23'] = 'Peter Jackson  '

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [220]:
movie_Prod_Comp=movie.copy()
movie_Prod_Comp['production_companies']=movie_Prod_Comp['production_companies'].str.split('|')
movie_Prod_Comp=movie_Prod_Comp.explode('production_companies')
movie_Prod_Comp['len of title']=movie_Prod_Comp['original_title'].apply(lambda x:len(x))
movie_Prod_Comp.groupby('production_companies')['len of title'].mean().idxmax()

'Four By Two Productions'

In [221]:
answers['24'] = 'Four By Two Productions  '

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [222]:
movie_Prod_Comp['len of tagline'] = movie_Prod_Comp.tagline.str.split('').apply(len) # колонка с длиной описания по количеству слов
# Список сравниваемых компаний
to_check = [ \
  'Universal Pictures', \
  'Warner Bros', \
  'Midnight Picture Show', \
  'Paramount Pictures', \
  'Total Entertainment' \
]
#Проход по списку с подсчётом среднего количества слов для каждой компании
result = {}
for item in to_check:
    result.setdefault(item,0)
    result[item]=df_Prod_Comp[movie_Prod_Comp.production_companies.str.contains(item)]['len of tagline'].mean()
result

{'Universal Pictures': 42.81142857142857,
 'Warner Bros': 38.3475935828877,
 'Midnight Picture Show': 43.0,
 'Paramount Pictures': 40.532786885245905,
 'Total Entertainment': 31.0}

In [223]:
answers['25'] = 'Midnight Picture Show  '

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [229]:
df_vote_average=movie[['original_title','vote_average']].copy()
df_vote_average.sort_values(by='vote_average', ascending=False ).head(18) #всего фильмов 1889, значит в 1% входит 18

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

In [225]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave '

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [226]:
from itertools import combinations
movie_pair=movie.copy()
movie_acts_comb = [] 
for cast in movie_pair.cast.str.split('|'):
    movie_acts_comb.extend(list(combinations(cast, 2)))
mov_acts_pair = pd.Series(mov_acts_comb).value_counts()
display(mov_acts_pair)

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Tyrese Gibson, Cole Hauser)           1
(Jimmy Fallon, Jack Kehler)            1
(Owen Wilson, George Lopez)            1
(Vince Vaughn, Queen Latifah)          1
(Roselyn SÃ¡nchez, Morris Chestnut)    1
Length: 18121, dtype: int64

In [227]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint  '

# Submission

In [228]:
len(answers)

27

In [170]:
display(answers)

{'6': 'Avatar (tt0499549)  ',
 '4': '110  ',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': 'Gods and Generals (tt0279111) ',
 '3': 'Winnie the Pooh (tt1449283)  ',
 '7': 'The Lone Ranger (tt1210819)  ',
 '5': '107  ',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)  ',
 '11': 'Drama  ',
 '12': 'Drama  ',
 '14': 'Robert Rodriguez ',
 '16': 'Matt Damon ',
 '17': 'Action ',
 '19': '2015 ',
 '20': '2014 ',
 '21': 'Сентябрь  ',
 '23': 'Peter Jackson  ',
 '24': 'Four By Two Productions  ',
 '22': '450  ',
 '25': 'Midnight Picture Show  ',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': 'Daniel Radcliffe & Rupert Grint  ',
 '13': 'Peter Jackson  ',
 '15': 'Chris Hemsworth ',
 '18': 'K-19: The Widowmaker (tt0267626) '}